<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/sanjanasenthilkumar/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="sanjanasenthilkumar" />
            <add key="ClearTextPassword" value="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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" />
        </github>
    </packageSourceCredentials>
</configuration>
