<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/sanjanasenthilkumar/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="sanjanasenthilkumar" />
            <add key="ClearTextPassword" value="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"/>
        </github>
    </packageSourceCredentials>
</configuration>
